<html>
	<head>
    	<title>Todo List</title>
  </head>

  <body>
  	<h1>
  		<font color=Blue>任务跟踪</font>
  	</h1>

  	<hr />

  	<h2>
  		<font color=BlueViolet>
        待办事项：
      </font>
  	</h2>
    <tr>
      {{range .}}
        {{if not .Finish}}
          <td><p>{{.Item}}</p></td>
        {{else}}
          <td><p><s>{{.Item}}</s></p></td>
        {{end}}
          <td>
            <a href="/finish?id={{.Id}}">FINISH</a>
            <a href="/delete?id={{.Id}}">DELETE</a>
            <a href="/undo?id={{.Id}}">UNDO</a>
          </td>
          <hr />
      {{end}}
    </tr>

  	<h2>
  		<font color=DarkMagenta>
        新增：
      </font>
  	</h2>

  	<form action="/new" method="post">
  		<input type="text" name="event" size="40" height="100">
  		<input type="submit" value="提交">
  	</form>
	
	<div class="foot">
		Copyright <span>©</span> TODOLIST Author Roy
		<br> 
		powered by Golang
    </div>
  </body>
</html>