<html>
	<head>
    	<title>Todo List</title>
  </head>

  <body>
  	<h1>
  		<font color=Blue>任务跟踪</font>
  	</h1>

  	<hr />

  	<h2>
  		<font color=BlueViolet>
        待办事项：
      </font>
  	</h2>
    <tr>
      {{$a := 1}}
      {{range .}}
        {{if eq .Status $a}}
          <td><p>{{.Item}}</p></td>
        {{else}}
          <td><p><s>{{.Item}}</s></p></td>
        {{end}}
          <td>
            <form atcion="/" method="post" name="id" value="xxxx">
              <input type="submit" value="Finish"/>
              <input type="submit" value="Delete"/>
              <input type="submit" value="Undo"/>
            </form>
          </td>
      {{end}}
    </tr>

  	<hr />

  	<h2>
  		<font color=DarkMagenta>
        新增：
      </font>
  	</h2>

  	<form action="/" method="post">
  		<input type="text" name="event" size="40" height="100">
  		<input type="submit" value="提交">
  	</form>
  </body>
</html>